<!DOCTYPE html>
<html xmlns:date="http://exslt.org/dates-and-times" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="author" content="Mike van Riel">
    <meta name="description" content="">
    <link href="{{ root }}css/template.css" rel="stylesheet" media="all">
    <link href="{{ root }}css/scrybe.css" rel="stylesheet" media="all">
    <script src="{{ root }}js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="{{ root }}js/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
    <script src="{{ root }}js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ root }}js/template.js" type="text/javascript"></script>
    <script src="{{ root }}js/prettify/prettify.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="{{ root }}img/favicon.ico">
    {#<link rel="apple-touch-icon" href="{{ root }}img/apple-touch-icon.png">#}
    {#<link rel="apple-touch-icon" sizes="72x72" href="{{ root }}img/apple-touch-icon-72x72.png">#}
    {#<link rel="apple-touch-icon" sizes="114x114" href="{{ root }}img/apple-touch-icon-114x114.png">#}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a class="brand" href="index.html">{{ title }}</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="{{ root }}index.html">Cover</a></li>
                    <li class="dropdown">
                        <a href="#chapters" class="dropdown-toggle" data-toggle="dropdown"> Chapters<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for entry in toc.index.children %}
                            <li><a href="{{ entry.filename }}.html#{{ entry.slug }}"><i class="icon-th"></i> {{ entry.name }}</a></li>
                                {% for subentry in entry.children %}
                                <li><a href="{{ subentry.filename }}.html#{{ subentry.slug }}"><i class="icon-th"></i> {{ subentry.name }}</a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    {#<li><a href="glossary.html">Glossary</a></li>#}
                    {#<li><a href="sitemap.html">Index</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="go_to_top"><a href="#___" style="color: inherit">Back to top <i class="icon-upload icon-white"></i></a></div>
</div>
<div id="___" class="container">
    <noscript>
        <div class="alert alert-warning">
            Javascript is disabled; several features are only available if Javascript is enabled.
        </div>
    </noscript>
    <div class="hero-unit">
        <h1>{{ title }}</h1>
        <h2>Documentation</h2>
    </div>

    <div class="row">
        {% if page_toc %}
        <div class="span4 toc">
            <h1>Table of Contents</h1>
            <ul>
                {% for entry in toc.usage.children %}
                    {% include "default/toc.html.twig" %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="span{% if page_toc%}8{%else%}12{%endif%}">
            <div class="well">
                {{ contents }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12 well">
            {% for letter in 'a'..'z' %}
                <h2>{{ letter|upper}}</h2>
                {% for heading in toc if heading.name|lower|slice(0,1) == letter %}
                    <a href="{{ heading.filename }}.html#{{ heading.slug }}">{{ heading.name }}</a><br />
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <footer class="span12">
            Template is built using <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap 2</a> and icons provided by
            <a href="http://glyphicons.com/">Glyphicons</a>.<br> Documentation is powered by
            <a href="http://www.phpdoc.org/">Scrybe</a><br>
        </footer>
    </div>
</div>
</body>
</html>
