{% extends 'layout.html.twig' %}

{% block title %}
    {{ project.title }} &raquo; Deprecated elements
{% endblock %}

{% block content %}
    <div class="row-fluid">

        <div class="span2 sidebar">
            <ul class="side-nav nav nav-list">
                <li class="nav-header">Navigation</li>
                {% for element in project.indexes.elements if element.deprecated %}
                    {% if element.file.path != previousPath %}
                        <li><a href="#{{ element.file.path }}"><i class="icon-file"></i> {{ element.file.path }}</a></li>
                    {% endif %}
                    {% set previousPath = element.file.path %}
                {% endfor %}
            </ul>
        </div>

        <div class="span10 offset2">
            <ul class="breadcrumb">
                <li><a href="{{ path('/') }}"><i class="icon-remove-sign"></i></a><span class="divider">\</span></li>
                <li>Deprecated elements</li>
            </ul>

            <div id="marker-accordion">
                {% for element in project.indexes.elements if element.deprecated %}
                    {% if element.file.path != previousPath %}
                    {% if previousPath %}
                        </table>
                    </div>
                    {% endif %}
                    <a name="{{ element.file.path }}" id="{{ element.file.path }}"></a>
                    <h3>
                        <i class="icon-file"></i>
                        {{ element.file.path }}
                        <small style="float: right;padding-right: 10px;">{{ element.tags.deprecated.count }}</small>
                    </h3>
                    <div>
                        <table class="table markers table-bordered">
                            <tr>
                                <th>Element</th>
                                <th>Line</th>
                                <th>Description</th>
                            </tr>
                    {% endif %}
                            {% for tag in element.tags.deprecated %}
                                <tr>
                                    <td>{{ element.fullyQualifiedStructuralElementName }}</td>
                                    <td>{{ element.line }}</td>
                                    <td>{{ tag.description }}</td>
                                </tr>
                            {% endfor %}
                    {% set previousPath = element.file.path %}
                {% else %}
                    <div class="alert alert-info">No deprecated elements have been found in this project.</div>
                {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
