{% spaceless %}
<dl{% if definitionListNode.classes %} class="{{ definitionListNode.classesString }}"{% endif %}>
    {% for definitionListTerm in definitionList.terms %}
        {% if definitionListTerm.classifiers is empty %}
            <dt>{{ renderNode(definitionListTerm.term) }}</dt>
        {% else %}
            <dt>
                {{ renderNode(definitionListTerm.term) }}

                {% for classifier in definitionListTerm.classifiers %}
                    <span class="classifier-delimiter">:</span>
                    <span class="classifier">{{ renderNode(classifier) }}</span>
                {% endfor %}
            </dt>
        {% endif %}

        {% if definitionListTerm.definitions|length > 1 %}
            <dd>
                {% for definition in definitionListTerm.definitions %}
                    {% if loop.first %}
                        <p class="first">{{ renderNode(definition) }}</p>
                    {% elseif loop.last %}
                        <p class="last">{{ renderNode(definition) }}</p>
                    {% else %}
                        <p>{{ renderNode(definition) }}</p>
                    {% endif %}
                {% endfor %}
            </dd>
        {% elseif definitionListTerm.definitions|length == 1 %}
            <dd>{{ renderNode(definitionListTerm.firstDefinition) }}</dd>
        {% endif %}
    {% endfor %}
</dl>
{% endspaceless %}
