<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ project.name }}{% endblock %}</title>
    <meta name="author" content="{{ author }}"/>
    <meta name="description" content=""/>

    {% block stylesheets %}
        <link href="{{ path('css/template.css') }}" rel="stylesheet" media="all"/>
    {% endblock %}

    {% block javascripts %}
        <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <![endif]-->
        <script src="{{ path('js/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ path('js/jquery-ui-1.8.2.custom.min.js') }}" type="text/javascript"></script>
        <script src="{{ path('js/jquery.mousewheel.min.js') }}" type="text/javascript"></script>
        <script src="{{ path('js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ path('js/template.js') }}" type="text/javascript"></script>
        <script src="{{ path('js/prettify/prettify.min.js') }}" type="text/javascript"></script>
    {% endblock %}

    {% block icons %}
        <link rel="shortcut icon" href="{{ path('img/favicon.ico') }}"/>
        <link rel="apple-touch-icon" href="{{ path('img/apple-touch-icon.png') }}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{{ path('img/apple-touch-icon-72x72.png') }}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{{ path('img/apple-touch-icon-114x114.png') }}"/>
    {% endblock %}
</head>
<body>

    {% block header %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> </a>
                <a class="brand" href="{{ path('index.html') }}">{{ project.name }}</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#api" class="dropdown-toggle" data-toggle="dropdown">
                                API Documentation <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if (project.namespace.children|length > 0) %}
                                    <li><a>Namespaces</a></li>
                                    {% for namespace in project.namespace.children %}
                                    <li><a href="{{ path(namespace) }}">{{ namespace.name }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                {% if (project.index.packages|length > 0) %}
                                    <li><a>Packages</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown" id="charts-menu">
                            <a href="#charts" class="dropdown-toggle" data-toggle="dropdown">
                                Charts <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('graph_class.html') }}">
                                        <i class="icon-list-alt"></i>&#160;Class hierarchy diagram
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="reports-menu">
                            <a href="#reports" class="dropdown-toggle" data-toggle="dropdown">
                                Reports <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('errors.html') }}">
                                        <i class="icon-list-alt"></i>&#160;Errors
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('markers.html') }}">
                                        <i class="icon-list-alt"></i>&#160;Markers
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('deprecated.html') }}">
                                        <i class="icon-list-alt"></i>&#160;Deprecated
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="go_to_top">
            <a href="#___" style="color: inherit">Back to top&#160;&#160;<i class="icon-upload icon-white"></i></a>
        </div>
    </div>
    {% endblock header %}

    <div id="___" class="container">
        <noscript>
            <div class="alert alert-warning">
                Javascript is disabled; several features are only available if Javascript is enabled.
            </div>
        </noscript>

        {% block heroUnit %}{% endblock %}

        {% block content %}{% endblock %}
    </div>

    {% block footer %}
    <footer class="span12">
            Template is built using <a href="https://getbootstrap.com/">Twitter Bootstrap 2</a> and icons provided by
            <a href="https://glyphicons.com/">Glyphicons</a>.<br/>
            Documentation is powered by <a href="https://www.phpdoc.org/">phpDocumentor {{ version }}</a> and<br/>
            generated on {{ now|date("r") }}.<br/>
    </footer>
    {% endblock %}
</body>
</html>
