{% block constant %}
    <div class="row-fluid">
        <div class="span8 content class">
            <a id="constant_{{ constant.name }}" name="constant_{{ constant.name }}" class="anchor"></a>
            <article id="constant_{{ constant.name }}" class="constant">
                <h3 class="{% if constant.deprecated %}deprecated{% endif %}">{{ constant.name }}</h3>
                <pre class="signature">{{ constant.name }}</pre>
                <p><em>{{ constant.summary }}</em></p>
                {{ constant.description|markdown|raw }}
            </article>
        </div>
        <aside class="span4 detailsbar">
            <h1><i class="icon-arrow-down"></i></h1>
            {% if constant.deprecated %}
                <aside class="alert alert-block alert-error">
                    <h4>Deprecated</h4>
                    {{ constant.tags.deprecated[0].description }}
                </aside>
            {% endif %}
            <dl>
                {% if (node.parent is null) %}
                <dt>File</dt>
                <dd><a href="{{ node.file|route('url') }}"><div class="path-wrapper">{{ node.path }}</div></a></dd>
                {% endif %}
                {% if (node.parent is not null and constant.parent.fullyQualifiedStructuralElementName != node.fullyQualifiedStructuralElementName) %}
                    <dt>Inherited from</dt>
                    <dd><a href="{{ constant.parent|route('url') }}"><div class="path-wrapper">{{ constant.parent.fullyQualifiedStructuralElementName }}</div></a></dd>
                {% endif %}
                {% for tagName,tags in constant.tags if tagName in ['link', 'see'] %}
                    {% if loop.first %}
                        <dt>See also</dt>
                    {% endif %}
                    {% for tag in tags %}
                        <dd><a href="{{ tag.reference|route('url') }}"><span class="namespace-wrapper">{{ tag.description }}</span></a></dd>
                    {% endfor %}
                {% endfor %}
                {% for tagName,tags in method.tags if tagName in ['uses'] %}
                    {% if loop.first %}
                        <dt>Uses</dt>
                    {% endif %}
                    {% for tag in tags %}
                        <dd>{{ tag.reference|route|raw }}</dd>
                    {% endfor %}
                {% endfor %}
            </dl>
            <h2>Tags</h2>
            <table class="table table-condensed">
                {% for tagName,tags in constant.tags if tagName not in ['link', 'see', 'var', 'deprecated', 'uses'] %}
                    <tr>
                        <th>
                            {{ tagName }}
                        </th>
                        <td>
                            {% for tag in tags %}
                                {{ tag.description|markdown|raw }}
                            {% endfor %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="2"><em>None found</em></td></tr>
                {% endfor %}
            </table>
        </aside>
    </div>
{% endblock %}
