{% apply spaceless %}
{% set domElement = attributes.domElement|default %}
{% set class = (attributes.class|default ? attributes.class ~ ' ' : '') ~ 'reference ' ~ (('://' in url) ? 'external' : 'internal') %}
<a href="{{ url|raw }}" class="{{ class }}"{% for key, value in attributes|filter((v, key) => key != 'domElement' and key != 'class') %} {{ key }}="{{ value }}"{% endfor %}>{% if domElement %}<{{ domElement }}>{% endif %}{{ title|raw }}{% if domElement %}</{{ domElement }}>{% endif %}</a>
{% endapply %}