{% extends 'base.html.twig' %}

{% block content %}
    {% include 'breadcrumbs.html.twig' %}

    <h2>{{ node.name == '\\' ? 'API Documentation' : node.name }}</h2>
    {% if node.children|length > 0 %}
        <h3>Namespaces</h3>
        <ul>
            {% for namespace in node.children %}
                <li><a href="{{ link(namespace) }}">{{ namespace.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if node.interfaces|length > 0 or node.classes|length > 0 %}
        <h3>Interfaces and Classes</h3>
        <dl>
            {% for interface in node.interfaces %}
                <dt><a href="{{ link(interface) }}">{{ interface.name }}</a></dt>
                <dd>{{ interface.summary }}</dd>
            {% endfor %}

            {% for class in node.classes %}
                <dt><a href="{{ link(class) }}">{{ class.name }}</a></dt>
                <dd>{{ class.summary }}</dd>
            {% endfor %}
        </dl>
    {% endif %}

    {% if node.constants|length > 0 %}
        <h3>Constants</h3>
        <ul>
            {% for constant in node.constants %}
                <li><a href="{{ link(constant) }}">{{ constant.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if node.functions|length > 0 %}
        <h3>Functions</h3>
        <ul>
            {% for function in node.functions %}
                <li><a href="{{ link(function) }}">{{ function.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
