{% extends 'base.html.twig' %}

{% block content %}
    <div class="phpdocumentor-section">
        {% include 'sidebar.html.twig' %}

        <div class="nine phpdocumentor-columns">
            {% include 'breadcrumbs.html.twig' %}

            <h2 class="phpdocumentor-content__title">
                {{ node.name }}
                {% if node.parent|length > 0 %}
                    <span class="phpdocumentor-interface__extends">
                        extends
                        {% for interface in node.parents %}
                            <a href="{{ link(interface) }}">{{ interface.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
            </h2>

            <p class="phpdocumentor-interface__summary">{{ node.summary }}</p>
            <section class="phpdocumentor-interface__description">{{ node.description|markdown }}</section>
        </div>
    </div>
{% endblock %}
