<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ project.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ path('images/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ path('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ path('css/base.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        <link rel="stylesheet" href="{{ path('css/template.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/fuse.js@3.4.6"></script>
        <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
        <script src="{{ path('js/search.js') }}"></script>
        <script defer src="{{ path('js/searchIndex.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% include 'components/header.html.twig' %}

    <main class="phpdocumentor">
        <div class="phpdocumentor-section">
            {% include 'sidebar.html.twig' %}

            <div class="nine phpdocumentor-columns phpdocumentor-content">
            {% block content %}{% endblock %}
                <div data-search-results class="phpdocumentor-search-results phpdocumentor-search-results--hidden">

                    <h2>Search results</h2>
                    <ul class="phpdocumentor-search-results__entries">

                    </ul>
                </div>
            </div>
        </div>
    </main>
    <script>
        cssVars({});
    </script>
</body>
</html>
