<aside class="three phpdocumentor-columns phpdocumentor-sidebar">
    <section data-search-form class="phpdocumentor-search">
        <h1 class="phpdocumentor-sidebar__category-header">Search</h1>
        <label class="phpdocumentor-label">
            <span class="visually-hidden">Search for</span>
            <input type="search" class="phpdocumentor-field phpdocumentor-search__field" placeholder="Loading .." disabled />
        </label>
    </section>
    <h1 class="phpdocumentor-sidebar__category-header">Namespaces</h1>

    {% if usesNamespaces or not usesPackages %}
        <h2 class="phpdocumentor-sidebar__root-namespace">{{ project.namespace|route('Global') }}</h2>
        {% for namespace in project.namespace.children %}
            <h3 class="phpdocumentor-sidebar__root-namespace">{{ namespace|route('class:short') }}</h3>
            <ul class="phpdocumentor-list">
                {% for child in namespace.children %}
                    <li>{{ child|route('class:short') }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

    {% if usesPackages %}
    <h1 class="phpdocumentor-sidebar__category-header">Packages</h1>
    {% for package in project.package.children %}
        <h2 class="phpdocumentor-sidebar__root-package">{{ package|route('class:short') }}</h2>
        <ul class="phpdocumentor-list">
            {% for child in package.children %}
                <li>{{ child|route('class:short') }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% endif %}

    <h1 class="phpdocumentor-sidebar__category-header">Reports</h1>
    <h2 class="phpdocumentor-sidebar__root-package"><a href="{{ path('graphs/classes.html') }}">Class Diagram</a></h2>
    <h2 class="phpdocumentor-sidebar__root-package"><a href="{{ path('reports/deprecated.html') }}">Deprecated</a></h2>
    <h2 class="phpdocumentor-sidebar__root-package"><a href="{{ path('reports/errors.html') }}">Errors</a></h2>
    <h2 class="phpdocumentor-sidebar__root-package"><a href="{{ path('reports/markers.html') }}">Markers</a></h2>
</aside>
