<article class="phpdocumentor-element -constant -{{ constant.visibility }} {% if constant.deprecated %}-deprecated{% endif %}">
    <h4 class="phpdocumentor-element__name" id="constant_{{ constant.name }}">
        {{ constant.name }}
        <a href="{{ link(constant) }}" class="headerlink"><i class="fas fa-link"></i></a>
    </h4>

    {{ include('components/element-found-in.html.twig', {'node': constant}) }}
    {{ include('components/summary.html.twig', {'node': constant}) }}
    {{ include('components/constant-signature.html.twig', {'node': constant}) }}

    {{ include('components/description.html.twig', {'node': constant}) }}
    {{ include ('components/tags.html.twig', {'node': constant}) }}
</article>
