<article
        class="
            phpdocumentor-element
            -enum-case
        "
>
    <h4 class="phpdocumentor-element__name" id="enumcase_{{ case.name }}">
        {{ case.name }}
        {{ include('components/headerlink.html.twig', {'on': case}, with_context = false) }}
    </h4>
    {{ include('components/element-found-in.html.twig', {'node': case}) }}
    {{ include('components/summary.html.twig', {'node': case}) }}
    {{ include('components/deprecation.html.twig', {'node': case}) }}
    {{ include('components/description.html.twig', {'node': case}) }}
    {{ include('components/description.html.twig', {'node': case.var[0]}) }}
    {{ include ('components/tags.html.twig', {'node': case}) }}
    {% include 'components/attributes.html.twig' with {'node': case} only %}
</article>
