<article
        class="phpdocumentor-element
            -method
            -{{ method.visibility }}
            {% if method.deprecated %}-deprecated{% endif %}
            {% if method.abstract %}-abstract{% endif %}
            {% if method.static %}-static{% endif %}
            {% if method.final %}-final{% endif %}
        "
>
    <h4 class="phpdocumentor-element__name" id="method_{{ method.name }}">
        {{ method.name }}()
        {{ include('components/headerlink.html.twig', {'on': method}, with_context = false) }}
    </h4>
    {{ include('components/element-found-in.html.twig', {'node': method}) }}
    {{ include('components/summary.html.twig', {'node': method}) }}
    {{ include('components/method-signature.html.twig', {'node': method}) }}
    <div class="phpdocumentor-label-line">
    {% if method.tags.api %}
        {{ include('components/label.html.twig', {name: 'API', value: 'Yes'}, with_context = false) }}
    {% endif %}
    </div>
    {{ include('components/deprecation.html.twig', {'node': method}) }}
    {{ include('components/description.html.twig', {'node': method}) }}
    {{ include('components/method-arguments.html.twig', {'node': method}) }}
    {{ include('components/tags.html.twig', {'node': method }) }}
    {{ include('components/attributes.html.twig' , {'node': method}) }}
    {{ include('components/method-response.html.twig', {'node': method}) }}
</article>
