<article
        class="
            phpdocumentor-element
            -property
            -{{ property.visibility }}
            {% if property.static %}-static{% endif %}
            {% if property.deprecated %}-deprecated{% endif %}
            {% if property.writeOnly %}-write-only{% endif %}
            {% if property.readOnly %}-read-only{% endif %}
            {% if property.isVirtual %}-virtual{% endif %}
        "
>
    <h4 class="phpdocumentor-element__name" id="property_{{ property.name }}">
        ${{ property.name }}
        {{ include('components/headerlink.html.twig', {'on': property}, with_context = false) }}
        <span class="phpdocumentor-element__modifiers">
            {% if property.writeOnly %}<small class="phpdocumentor-element__modifier">write-only</small>{% endif %}
            {% if property.readOnly %}<small class="phpdocumentor-element__modifier">read-only</small>{% endif %}
            {% if property.isVirtual %}<small class="phpdocumentor-element__modifier">virtual</small>{% endif %}
        </span>
    </h4>
    {{ include('components/element-found-in.html.twig', {'node': property}) }}
    {{ include('components/summary.html.twig', {'node': property}) }}
    {{ include('components/deprecation.html.twig', {'node': property}) }}
    {{ include('components/property-signature.html.twig', {'node': property}) }}
    {{ include('components/description.html.twig', {'node': property}) }}
    {{ include('components/description.html.twig', {'node': property.var[0]}) }}
    {{ include('components/tags.html.twig', {'node': property}) }}
    {% include 'components/attributes.html.twig' with {'node': property} only %}
    {{ include('components/property-hooks.html.twig', {'node': property}) }}
</article>
