<a id="property_{{ property.name }}"></a>
<article
        class="
            phpdocumentor-element
            -property
            -{{ property.visibility }}
            {% if property.static %}-static{% endif %}
            {% if property.deprecated %}-deprecated{% endif %}
        "
>
    <h4 class="phpdocumentor-property__name">${{ property.name }}</h4>
    {{ include('components/element-found-in.html.twig', {'node': property}) }}
    {{ include('components/summary.html.twig', {'node': property}) }}

    <code class="phpdocumentor-signature phpdocumentor-code {% if property.deprecated %}phpdocumentor-signature--deprecated{% endif %}">
        <span class="phpdocumentor-signature__visibility">{{ property.visibility }}</span>
        {% if property.static %}<span class="phpdocumentor-signature__static">static</span>{% endif %}
        <span class="phpdocumentor-signature__type">{{ not property.type ? "mixed" : property.type|route('class:short')|join('|')|raw }}</span>
        <span class="phpdocumentor-signature__name">${{ property.name }}</span>
        {% if property.default is not null %} = <span class="phpdocumentor-signature__default-value">{{ property.default ?: '""' }}</span>{% endif %}
    </code>

    {{ include('components/description.html.twig', {'node': property}) }}
    {{ include ('components/tags.html.twig', {tags: property.tags}) }}
</article>
