<h3>Table of Contents</h3>

<dl class="phpdocumentor-table-of-contents">
    {% for constant in node.constants|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'constant', 'node': constant}) }}
    {% endfor %}
    {% for property in node.properties|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'property', 'node': property}) }}
    {% endfor %}
    {% for property in node.magicProperties|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'property', 'node': property}) }}
    {% endfor %}
    {% for property in node.inheritedProperties|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'property', 'node': property}) }}
    {% endfor %}
    {% for method in node.methods|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'method', 'node': method}) }}
    {% endfor %}
    {% for method in node.magicMethods|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'method', 'node': method}) }}
    {% endfor %}
    {% for method in node.inheritedMethods|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'method', 'node': method}) }}
    {% endfor %}
    {% for function in node.functions|default([]) %}
        {{ include('components/table-of-contents-entry.html.twig', {'type': 'function', 'node': function}) }}
    {% endfor %}
</dl>
