{% extends 'layout.html.twig' %}

{% block title %}
	{{ project.name }} &raquo; Interfaces
{% endblock %}

{% block content %}
	<section class="row-fluid">
		<div class="span2 sidebar">
			{% set currentPackages = (project.indexes.packages|first) %}
			{% set currentNamespace = project.namespace %}
			{{ block('sidebarMenu') }}
		</div>
	</section>
	<section class="row-fluid">
		<div class="span10 offset2">
			<div class="package-contents">
				<h3>
					<i class="fa fa-code"></i> Interfaces
					<small style="float: right;padding-right: 10px;">{{ project.indexes.interfaces|length }}</small>
				</h3>
				{% if project.indexes.interfaces|length > 0 %}
				<div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Namespace</th>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
						{% for interface in project.indexes.interfaces|sort_asc %}
							<tr>
								<td class='namespaceMini'>{{ interface.namespace }}</td><td><a href="{{ interface|route("url") }}" class="{{ interface.visibility }} {% if interface.deprecated %}deprecated{% endif %}">{{ interface.name }}</a></td>
								<td><em>{{ interface.summary|markdown|raw }}</em></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
