{% use 'parts/elements/constant.html.twig' %}
{% use 'parts/elements/property.html.twig' %}
{% use 'parts/elements/method.html.twig' %}
{% use 'parts/elements/namespaces.sidebar.html.twig' %}
<!DOCTYPE html>
<html lang="en" id="top-of-site">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta charset="utf-8"/>
		<title>
			{% block title %}
				{{ project.name }}
			{% endblock %}
		</title>
		<meta name="author" content=""/>
		<meta name="description" content=""/>
		{{ renderBaseUrlHeader() }}

		<link href="resources/css/bootstrap.min.css" rel="stylesheet" media="all"/>
		<link href="resources/css/bootstrap-responsive.min.css" rel="stylesheet" media="all"/>
		<link href="resources/css/style.css" rel="stylesheet" media="all"/>
		<link href="resources/css/prism.min.css" rel="stylesheet" media="all"/>
		<link href="resources/font/css/all.min.css" rel="stylesheet" media="all"/>
		{% block stylesheets %}{% endblock %}

		<link rel="shortcut icon" href="resources/images/favicon.ico"/>
		<link rel="apple-touch-icon" href="resources/images/apple-touch-icon.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="resources/images/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="resources/images/apple-touch-icon-114x114.png"/>
	</head>
	<body>

		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<i class="fa-solid fa-bars"></i>
					</a>
					<a class="brand" href="index.html">{{ project.name }}</a>

					<div class="nav-collapse navbar-responsive-collapse collapse">
						<ul class="nav pull-right">
							{% if project.namespace.children|length > 0 %}
								<li class="dropdown" id="api-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-labelledby="api-menu">
										API Documentation
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="api-menu">
										{% for namespace in project.namespace.children|sort_asc %}
											<li>{{ namespace|route('class:short')|join('|')|raw }}</li>
										{% endfor %}
									</ul>
								</li>
							{% endif %}
							{% if project.settings.custom['graphs.enabled'] %}
								<li class="dropdown" id="charts-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-labelledby="charts-menu">
										Charts
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
										<li>
											<a href="graphs/class.html">
												<i class="fa-solid fa-project-diagram"></i>&#160;Class hierarchy diagram
											</a>
										</li>
									</ul>
								</li>
							{% endif %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Reports
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li>
										<a href="reports/errors.html">
											{% set error_count = 0 %}
											{% for file in project.files %}
												{% set error_count = error_count + file.allerrors.count %}
											{% endfor %}
											<i class="fa-solid fa-bug"></i>&#160;Errors
											<span class="label label-important pull-right">{{ error_count }}</span>
										</a>
									</li>
									<li>
										<a href="reports/markers.html">
											{% set marker_count = 0 %}
											{% for file in project.files %}
												{% set marker_count = marker_count + file.markers.count %}
											{% endfor %}
											<i class="fa-solid fa-location-dot"></i>&#160;&#160;Markers
											<span class="label label-warning pull-right">{{ marker_count }}</span>
										</a>
									</li>
									<li>
										<a href="reports/deprecated.html">
											{% set deprecated_count = 0 %}
											{% for element in project.indexes.elements %}
												{% if element.deprecated %}
													{% set deprecated_count = deprecated_count + element.tags.deprecated.count %}
												{% endif %}
											{% endfor %}
											<i class="fa-solid fa-file-circle-xmark"></i>&#160;Deprecated
											<span class="label label-info pull-right">{{ deprecated_count }}</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="go_to_top">
				<a href="#top-of-site" style="color: inherit">Back To Top&#160;&#160;<i class="fa-solid fa-chevron-up"></i></a>
			</div>
		</nav>

		<div id="___" class="container-fluid"> {% block content %}{% endblock %}

			<footer class="row-fluid">
				<section class="span10 offset2">
					<section class="row-fluid">
						<section class="span10 offset1">
							<section class="row-fluid footer-sections">
								<section
									class="span4">
									{#Doc#}
									<h1>
										<i class="fa-solid fa-code"></i>
									</h1>
									<div>
										<ul>
											{% for namespace in project.namespace.children|sort_asc %}
												<li>{{ namespace|route|raw }}</li>
											{% endfor %}
										</ul>
									</div>
								</section>
								<section
									class="span4">
									{#Graphs#}
									<h1>
										<i class="fa-solid fa-project-diagram"></i>
									</h1>
									<div>
										<ul>
											<li><a href="graphs/class.html">Class Hierarchy Diagram</a></li>
										</ul>
									</div>
								</section>
								<section
									class="span4">
									{#Reports#}
									<h1>
										<i class="fa-solid fa-thumbtack"></i>
									</h1>
									<div>
										<ul>
											<li><a href="reports/errors.html">Errors</a></li>
											<li><a href="reports/markers.html">Markers</a></li>
										</ul>
									</div>
								</section>
							</section>
						</section>
					</section>
					<section class="row-fluid">
						<section class="span10 offset1">
							<hr/>
							Documentation is powered by
							<a href="https://www.phpdoc.org/">phpDocumentor
							</a>
							and authored
							                    on
							{{ "now"|date('F jS, Y \\a\\t H:i') }}.
						</section>
					</section>
				</section>
			</footer>
		</div>
		<script src="resources/js/jquery-1.11.0.min.js"></script>
		<script src="resources/js/ui/1.10.4/jquery-ui.min.js"></script>
		<script src="resources/js/jquery.smooth-scroll.js"></script>
		<script src="resources/js/prism.min.js"></script>
		<script src="resources/js/bootstrap.js"></script>
		<script src="resources/js/custom.js"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
